.home-bg-container {
  height: 100vh;
  background-size: cover;
  display: flex;
  flex-direction: column;
  background-color: #ffffffff;
  width: 100vw;
}

.header-component {
  flex-grow: 0;
}

.middle-component {
  flex-grow: 1;
  flex-wrap: wrap;
  overflow-y: scroll;
}
