.top-first-container {
  display: flex;
  justify-content: space-around;
  background-color: black;
  height: 8%;
  padding: 5px;
  color: brown;
}

.logo-section {
  display: flex;
  justify-content: space-evenly;
}

.logo {
  color: brown;
  font-size: 25px;
}
.logo-text {
  font-size: 18px;
  align-self: center;
}

.top-second-container {
  display: flex;
  flex-direction: column;

  padding: 15px;
}

.logo-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 5%;
  padding-right: 5%;
  text-align: center;
}

.flower-logo {
  height: 40px;
  width: 40px;
}

.logo-name {
  font-size: xx-large;
}

.icons-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.icons {
  font-size: xx-large;
  margin: auto;
  margin: 10px;
}

.selection-container {
  border: none;
  font-weight: bold;
  font-size: medium;
  margin-left: 2px;
}

.tabs-container {
  font-size: large;
  font-weight: bold;
  list-style: none;
  display: flex;
  justify-content: space-evenly;

  margin-bottom: 0px;
}

.summery-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.description {
  margin-top: 0px;
  font-size: medium;
}
.heading {
  margin-top: 3px;
  font-size: x-large;
}

@media screen and (max-width: 576px), (orientation: portrait) {
  .logo-hide {
    display: none;
  }
  .logo {
    font-size: 25px;
  }
  .logo-text {
    font-size: 12px;
  }

  .flower-logo {
    height: 20px;
    width: 20px;
  }
  .logo-name {
    font-size: small;
    justify-content: center;
    align-items: center;
  }
  .icons {
    font-size: small;
  }
  .tabs-container {
    font-size: xx-small;
    font-weight: 500;
  }
  .heading {
    font-size: medium;
  }
  .description {
    font-size: smaller;
  }
}
